<h1>About</h1>
<p><span>github</span><span>網頁</span><span>:<a href="https://40823103.github.io/cd2021/content/index.html">https://40823103.github.io/cd2021/content/index.html</a> </span></p>
<p><span>github倉儲:<a href="https://github.com/40823103/cd2021">https://github.com/40823103/cd2021</a></span></p>
<p>gitlab<span>網頁</span>:<a href="https://40823103.github.io/cd2021/content/index.html">https://40823103.gitlab.io/cd2021/content/index.html</a> </p>
<p><span>gitlab倉儲:<a href="https://gitlab.com/40823103/cd2021">https://gitlab.com/40823103/cd2021</a></span></p>
<p><span>gogs倉儲:<a href="https://fossil.kmol.info:3443/40823103/cd2021/src/main">https://fossil.kmol.info:3443/40823103/cd2021/src/main</a></span></p>
<p><img alt="" height="296" src="/images/1.jpg" width="296"/></p>
<h1>develop</h1>
<h1>topics</h1>
<h2>w1</h2>
<p>1.建立倉儲CMSIMDE<span>內容管理系統</span></p>
<p><span>2.分組</span></p>
<h2>w2-w4</h2>
<p>第一階段分組協同實習:</p>
<p>每週分組報告必須包含 html, pdf 與 Youtube 影片:</p>
<p>標題: 2021-協同產品設計實習-stage1-ag1</p>
<p>專題題目:</p>
<p>第一位組員學號:(<a href="http://www.iesensor.com/HTML5pptCV/#/">Curriculum Vitae 範例</a>)</p>
<p>第二位組員學號:(<a href="https://mde.tw/cd2021/downloads/cv_example/cv_example.html">CV 範例</a>)</p>
<p>其他組員學號:</p>
<p>交付給各組的實習任務:</p>
<ol>
<li>請在各組組長的 Github 帳號下建立各組的分組網站, 惟在 W1 進行各班定組序過程中, 發現即便採用 Ethercalc 以網際協同方式同步讓各班自選組員填入兩兩成組的學員學號, 但仍缺人工或自動定各班組序的有效方案, 在此責成各組在進行自選的協同產品開發項目之際 (W2-W4), 將此議題列為必選的題目之一, 詳細說明各組認為最有效率的第一階段與訂定組序的方法及流程.</li>
<li>此外, 為了讓各組在 stage1 分組協同實習過程, 能透過網誌發表各組組員在 W2-W4 過程中的各項作為與心得報告, 說明可利用 Leo Editor 協助 CMSiMDE 中的 Pelican 發表協同網誌, 其目的是讓各分組在協同期間, 能完整呈現各階段所留下的網誌紀錄. 但此方式必須熟悉 Leo Editor 的操作, 因此有關透過 Pelican 建立協同網誌一事, 除利用 Leo Editor 協助設定並建立 pelican 網誌外, 也將此議題列為各組在 Stage1 協同產品設計流程中必選題目之二, 請各組詳細說明採用或不採用 Leo Editor 的兩種情況下, 各組員在設定與建立協同網誌的過程所可能遭遇或產生的問題與解決方案.</li>
</ol>
<div class="d-flex flex-justify-center width-full">
<div class="Counter discussion-vote-count d-flex flex-row">
<div class="d-flex flex-column"><span aria-hidden="true" class="downvoted-vote-count"></span><a href="https://github.com/mdecourse/cd2021/discussions/11">2021 協同產品設計實習 W4 分組專題報告與影片繳交處</a></div>
<h1>stage1-ag8</h1>
<p>分組倉儲:<a href="http://github.com/40823103/stage1-ag8">stage1-ag8 repo</a><span><span> </span>|分組網站:</span><span><span> </span></span><a href="http://40823107.github.io/stage1-ag8">stage1-ag8 site</a><span><span> </span>|</span></p>
<p>  個人倉儲:<a href="http://github.com/40823103/cd2021">40823103 repo</a><span><span> </span>|個人網站:</span><span><span> </span></span><a href="http://40823103.github.io/cd2021">40823103 site</a><span><span> </span>|<span> </span></span></p>
<p>  隊友倉儲:<a href="http://github.com/40823107/cd2021">40823107 repo</a><span><span> </span>|隊友網站:<span> </span></span><a href="http://40823107.github.io/cd2021">40823107 site<span> </span><span>|</span></a></p>
<h6><span>stage1-ag8 </span></h6>
<h6><span>題目:機械手臂</span></h6>
<h6><span>動機:爸爸搬重物很辛苦，希望他可以減輕負擔</span></h6>
<h2>w2</h2>
<h6><span>第二周:繪製零件圖</span></h6>
<h2>w3</h2>
<h6><span>第三周:進行coppeliasim模擬</span></h6>
<h2>w4</h2>
<h6><span>第四周:報告</span></h6>
<h1>stage2-ag8</h1>
<h2>w5</h2>
<p>工作分配</p>
<table>
<tbody>
<tr>
<td>繪製零件圖</td>
<td>40823103  呂霈瑜</td>
</tr>
<tr>
<td>模擬</td>
<td>40823107  吳嘉欣</td>
</tr>
<tr>
<td>編輯小組網頁</td>
<td>40523252  王彥筑</td>
</tr>
<tr>
<td>DPF製作</td>
<td>40823154  張宸嘉</td>
</tr>
</tbody>
</table>
<h2>w6</h2>
<p>討論主題</p>
<p><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/8QzeYpuuhjw" width="560"></iframe></p>
<h2>w7</h2>
<p>繪製零件</p>
<p>零件圖檔</p>
<p><a href="https://drive.google.com/drive/folders/1kBoycxcgq9d9vfMPk1pvDeQB9tQVmtWk?usp=sharing">https://drive.google.com/drive/folders/1kBoycxcgq9d9vfMPk1pvDeQB9tQVmtWk?usp=sharing</a></p>
<h2>w8</h2>
<p>心得</p>
<h2>w9</h2>
<p>報告</p>
<p><span>2021-協同產品設計實習-stage2-ag8</span><br/><span></span></p>
<p><span>倉儲:<span> </span></span><a href="https://github.com/40823107/stage2-ag8">https://github.com/40823107/stage2-ag8</a><br/><span></span></p>
<p><span>網站:<span> </span></span><a href="https://40523252.github.io/stage2-ag8/content/index.html" rel="nofollow">https://40523252.github.io/stage2-ag8/content/index.html</a><br/><span></span></p>
<p><span>reveal:<span> </span></span><a href="https://40523252.github.io/stage2-ag8/reveal/index.html#/" rel="nofollow">https://40523252.github.io/stage2-ag8/reveal/index.html#/</a></p>
<p><span>pdf: </span><a href="https://drive.google.com/file/d/1jOrYFPWgUcYDd08cUq1HYgMX8eIQJq8E/view?usp=sharing" rel="nofollow">https://drive.google.com/file/d/1jOrYFPWgUcYDd08cUq1HYgMX8eIQJq8E/view?usp=sharing</a></p>
<p></p>
<p><br/><span>YouTube:</span></p>
<p><span></span></p>
<p><span><span> <iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/t-PV7Kuksxo" width="560"></iframe></span></span><br/><span>1.</span></p>
<p><span><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/NVVsvlLOesE" width="560"></iframe></span><br/><span>2.</span></p>
<p><span><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/J2XMdp67vhA" width="560"></iframe></span><br/><span>3.</span></p>
<p><span><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/zpGdLqk_q4I" width="560"></iframe></span><br/><span>4.</span></p>
<p><span><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/pz5mESoG0lE" width="560"></iframe></span><br/><span>5.</span></p>
<p><span><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/j_NWZqjXt6w" width="560"></iframe></span><br/><span></span></p>
<h1>stage3-ag3</h1>
<p>第三組</p>
<p>組長:</p>
<p>1.林郁凱 40823119</p>
<p>組員:</p>
<p>2.苏鷺瑋 40823150</p>
<p>3.呂霈瑜 40823103</p>
<p>4.吳嘉欣 40823107</p>
<p>5.張宸嘉 40823154</p>
<p>6.王彥筑 40523252</p>
<h2>w10</h2>
<p><span>建立分組倉儲,分組網頁</span></p>
<p><span>倉儲</span></p>
<p><span><a href="https://github.com/40823103/stage3-ag3">https://github.com/40823103/stage3-ag3</a></span></p>
<p><span>網頁 gitlab</span></p>
<p><span><a href="https://40823103.gitlab.io/stage3-ag3/content/Task1.html">https://40823103.gitlab.io/stage3-ag3/content/Task1.html</a></span></p>
<h3>TASK1</h3>
<p>讀取 <a href="http://mde.tw/cd2021/downloads/stage3/stage3_2a.txt">stage3_2a.txt</a></p>
<p><strong><span style="color: #000000;">以下為每組亂數抽選 2 名組員的程式碼:</span></strong></p>
<pre class="brush:html;auto-links:false;toolbar:false" contenteditable="false"># open file, default is read mode, since txt content no chinese char
# no encoding = "UTF-8" is needed
import random
 
# number of group menber to draw
num = 2
 
# check if data is "" or not
def notVacant(data):
    if data == "":
        return False
    else:
        return True
         
with open("stage3_2a.txt") as fh:
    # readlines will read into the whole line and put into list format
    # has \n at the end of each line
    data = fh.readlines()
#print(len(data))
# big group list
bgroup = []
# count from the second group member
sgroup = []
for i in range(len(data)):
    group = data[i].rstrip("\n").split("\t")
    #print(group)
    # use mem to count the total number of each group
    mem = 0
    # final group data
    fgroup = []
    # count from the second group member, eliminate the first element
    sgroup = group[1:]
    # get only the odd index number
    igroup = [i for i in range(len(sgroup)) if i % 2 == 1]
    for j in igroup:
        # index starts from 0 which is j-1 when j=1
        if notVacant(sgroup[j-1]) == True:
            mem += 1
            fgroup.append(sgroup[j-1])
    print("group " + str(i+1) + ":" + str(mem))
    # shuffle the fgroup list
    random.shuffle(fgroup)
    # draw num of member from final group list: fgroup
    for k in range(num):
        try:
            print(fgroup[k])
        except:
            # num is greater than total number of this group
            print("no such member")
    # seperator
    print("-"*20)
# the following will use group data to generate needed html</pre>
<p></p>
<h2>w11</h2>
<h2>w12</h2>
<h4 class="title style-scope ytd-video-primary-info-renderer"><yt-formatted-string class="style-scope ytd-video-primary-info-renderer" force-default-style="">stage3-ag3直播討論</yt-formatted-string></h4>
<p><a href="https://www.youtube.com/watch?v=rVUHxxyfRlk"><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/rVUHxxyfRlk" width="560"></iframe></a></p>
<h2>w13</h2>
<p><span>robodk測試</span></p>
<p><iframe allowfullscreen="allowfullscreen" height="314" src="//www.youtube.com/embed/3LSVuCKULK4" width="560"></iframe></p><h2>w14</h2>
<h2>w15</h2>
<p><span>Github flaged 用戶, 利用 </span><a href="https://gogs.io/">gogs</a><span><span> </span>系統替代</span></p>
<p><span>到<a href="https://fossil.kmol.info:3443">https://fossil.kmol.info:3443</a></span></p>
<p><span>新增儲存庫</span></p>
<p><span><img alt="" height="254" src="/images/gogs1.png" width="500"/></span></p>
<p><span>然後到cd2021輸入</span></p>
<p><img alt="" height="255" src="/images/gogs2.png" width="500"/><br/>git remote add fossil https://fossil.kmol.info:3443/帳號/倉儲名稱.git</p>
<p>git push fossil</p>
<p></p>
<p></p>
<p><span></span></p>
<p><span></span></p>
<p><span></span></p>
<p></p>
<p></p>
<h1>問題(已解除)</h1>
<p>突然出現 Your avvount has been flagged.</p>
<p><img alt="" height="322" src="/images/1621490494700.jpg" width="500"/></p>
<p></p>
<p><span>老師建議將內容修改一下, 用現在的 .git 版本內容, 同步到一個同名的 gitlab 帳號下.</span></p>
<p><span>到<a href="https://gitlab.com/">https://gitlab.com/</a>註冊帳號</span></p>
<p><span> </span></p>
</div>
</div>